
.address{
    padding-left: 100px;
}
.footer-1{
    background-color: black;
    color: white;
}
.footer-2{
    background-color: black;
    color: white;
    border-top: 1px solid gray;
}
.social{
    padding:10px;
    border:1px solid;

}
.head-links{
    padding-top :9px;
}

.services{
    height: 300px;
}
.aboutus{
    height: 300px;
}
.gallery{
    height:300px;
}

.timetable{
    background-color: black;
    color: white;
    text-align: center;

}
.carousel{
    height:600px
}

.fa{
    color:white;
   padding-top:10px;
    margin-right: 10px;
}
.services-tabs{
    float: left;
    background-color: deeppink;
    margin-left:25px;
    margin-top:25px;
    text-align: center;
    color: white;
}
.services-tabs:hover{
    background-color: black;
}
.services-tabs-paragraph{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-bottom: 35px;
}
.send-button{
    background-color: black;
    padding: 15px;
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 51px;
}
.send-button:hover{
    background-color: deeppink;
    color: white;
}
.fa-futer {
    font-size: 20px;
    padding: 20px;
}
.social-icons-futer{
    margin-right: 22px;
}
.image{
    background-size: cover;
    min-height: 250px;
}
.btn1:hover {
    background-color: black;
    color:white
}
.trends-title{
    border: 1px solid #BCBCBC;
    text-align: center;
    padding: 10px;
}
    .carousel-caption {
        left: 6% !important;
        text-align: left !important;
        padding-bottom: 30px;
        margin-bottom: 21% !important;
    }
.nav-links:hover{
    color: deeppink !important;
    border-top: 3px solid deeppink;
}
.books{
    margin-top: 80px;
    min-height: 200px;
    background-image:url("http://welearn2fly.com/salon2/a01/images/p_1.jpg") ;
    background-attachment: fixed;
}
.book-button:hover{
    background-color: white;
    color: black !important;
}
.img-desc{
    background-color: deeppink;
    width: 45%;
    text-align: center;
    line-height: 1;
    color: white;
    font-size: 18px !important;
    top: -8px;
    margin-left: 84px;
    margin-bottom: 1px;
    position: absolute;
}
.img-desc:hover{
    background-color: black;
}
.tb{
    min-width: 30px;
    min-height: 8px;
    background-color: deeppink;
}
ul.nav.nav-tabs {
    border-bottom: 0px solid #ddd !important;
}
.tab-content {
    min-height: 228px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 0px solid #ddd !important;
    border-bottom-color: transparent;
}